$color-relleno: #f3efef;
$color-detalle: #c9ad59;
$color-texto: #393838;
$color-texto-menu: #707070;
$color-sombra: #DBDBDB;
$letra-boton: #ffffff;
$tipografia-principal: arial,
verdana,
sans-serif;
$referenci-tipo: 16px;
$sombra: 5px 7px 10px $color-sombra;